{% extends "base.html" %}

{% block content %}
<h1>O, herro, {{g.user.nickname}}!</h1>

<div class='well well-large'>
	<form class="form-horizontal" action="" method="post" name="post">
        {{form.hidden_tag()}}
        <div class="form-group{% if form.errors.post %} has-error{% endif %}">
            
            <label class="control-label" for="post">{{ _('Get bloggin\'') }}:</label>

            <div class="controls">
                {{ form.post(size = 30, maxlength = 140, placeholder=_('Say something'), class='form-control') }}
                {% for error in form.errors.post %}
                    <span class="help-block pull-right">[{{error}}]</span><br>
                {% endfor %}
            </div>
           
        </div>
        <div class="form-group">
            <div class="controls">
                <input class="btn btn-success" type="submit" value="{{ _('Post') }}!">
            </div>
        </div>
    </form>
</div>

{% for post in posts.items %}
	{% include '_post.html' %}
{% endfor %}
<ul class="pager">
    {% if posts.has_prev %}
        <li class="previous"><a href="{{ url_for('index', page = posts.prev_num) }}">{{ _('Newer posts') }}</a></li>
    {% else %}
        <li class="previous disabled"><a href="#">{{ _('Newer posts') }}</a></li>
    {% endif %}
    {% if posts.has_next %}
        <li class="next"><a href="{{ url_for('index', page = posts.next_num) }}">{{ _('Older posts') }}</a></li>
    {% else %}
        <li class="next disabled"><a href="#">{{ _('Older posts') }}</a></li>
    {% endif %}
</ul>
{% endblock %}